<%- include('../components/head', {
  pageName: course.name, 
  scripts: locals?.isAdmin ? ['delete.js'] : [],
  modules: !locals?.isAdmin ? ['course.js'] : []
  }) %>
<%- include('../custom/body') %>
  <%- include('../components/navbar') %>

  <main class="container mx-auto mb-36">
    <div class="flex mt-24">
      <div class="self-center w-6/12 justify-center items-center flex h-96">
        <img src="/images/courses/<%= course.image %>" alt="<%= course.name %>">
      </div>

      <div class="flex flex-col gap-5 w-6/12">
        <h2 class="text-3xl"><%= course.name %></h2>

        <%- include('../components/stars', {stars: course.stars}) %>

        <p class="text-green-600 text-2xl">$<%= course.price %></p>

        <p class="mb-4"><%= course.description %></p>

        <% if (locals.isAdmin) { %>
          <div class="flex gap-2 w-full">
            <a href="/cursos/editar/<%= course.id %>" 
              class="<%= styles.colors.secondary %> w-1/2 focus:ring-4font-medium rounded text-sm px-5 py-2.5 text-center">
              Editar
            </a>
            <a href="javascript:void(0);" 
              id="deleteButton"
              class="<%= styles.colors.danger%> w-1/2 focus:ring-4font-medium rounded text-sm px-5 py-2.5 text-center">
              Borrar
            </a>
          </div>
        <% } else { %>
          <a href="javascript:void(0);" 
            id="addToCart"
            data-course-id="<%= course.id %>"
            data-course-price="<%= course.price %>"
            class="text-white <%= styles.colors.primary %> focus:ring-4font-medium rounded text-sm px-5 py-2.5 text-center">
            Agregar al carrito
          </a>
        <% } %>

      </div>
    </div>
  </main>

  <%- include('../components/footer') %>

  <% if (locals.isAdmin) { %>
    <%- include('../components/modal', {
      action: `/cursos/eliminar/${course.id}`, 
      confirmationMessage: `Estas seguro que queres eliminar el curso: '${course.name}'?`
    }) %>  
  <% } %>

</body>
</html>