<!DOCTYPE html>
<html lang="es">
<%- include('../components/head', {pageName: course.name }) %>
<%- include('../custom/body') %>
  <%- include('../components/navbar') %>

  <main class="container mx-auto">
    <div class="flex mt-24">
      <div class="self-center w-6/12 justify-center items-center flex h-96">
        <img src="/images/courses/<%= course.image ?? 'placeholder.png' %>" alt="d">
      </div>

      <div class="flex flex-col gap-5 w-6/12">
        <h2 class="text-3xl">Curso de <%= course.name %></h2>

        <p class="text-green-600 text-2xl">$ <%= course.price %></p>

        <p class="mb-4"><%= course.description %></p>

        <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Agregar al carrito
        </a>

        <form method="post" action="/cursos/eliminar/<%= course.id %>">
          <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            borrar
          </button>
        </form>
        <form method="post" action="/cursos/eliminar-libreria/<%= course.id %>?_method=DELETE">
          <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            borrar con LIBRERIA
          </button>
        </form>
          <button type="submit" class="text-white bg-lime-400 hover:bg-lime-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-lime-400 dark:hover:bg-lime-600 dark:focus:ring-lime-800">
            <a href="/cursos/editar/<%= course.id %>"">
              editar producto
            </a>
          </button>
        </form>
      </div>
    </div>
  </main>

</body>
</html>