<!DOCTYPE html>
<html lang="es">
<%- include('../components/head', {pageName: course.name}) %>
<%- include('../custom/body') %>
  <%- include('../components/navbar') %>

  <main class="container mx-auto mb-36">
    <div class="flex mt-24">
      <div class="self-center w-6/12 justify-center items-center flex h-96">
        <img src="/images/courses/<%= course.image %>" alt="<%= course.name %>">
      </div>

      <div class="flex flex-col gap-5 w-6/12">
        <h2 class="text-3xl"><%= course.name %></h2>

        <%- include('../components/stars', {stars: course.stars}) %>

        <p class="text-green-600 text-2xl">$<%= course.price %></p>

        <p class="mb-4"><%= course.description %></p>

        <% if (locals.isAdmin) { %>
          <a href="/cursos/editar/<%= course.id %>" 
            class="text-white <%= styles.colors.secondary %> focus:ring-4font-medium rounded text-sm px-5 py-2.5 text-center">
            Editar
          </a>
        <% } else { %>
          <%- include('../components/button', {text: 'Agregar al carrito', redirect: '/cart'}) %>
        <% } %>

      </div>
    </div>
  </main>

  <%- include('../components/footer') %>

</body>
</html>