<head>
  <meta name="author" content="German Eichemberger">
  <meta name="language" content="es">
  <meta property="og:title" content="<%= pageName %>">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/styles.css"></noscript>
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <title><%= pageName %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script defer src="/js/common.js"></script>

  <% if (typeof links !== 'undefined' && links.length >= 0) { %>
    <% links.forEach(link => { %>
      <link href="<%= link.href %>" rel="<%= link.rel %>" />
    <% }) %>
  <% } %>

  <% if (typeof scripts !== 'undefined' && scripts.length >= 0) { %>
    <% scripts.forEach(script => { %>
      <script defer src="<%= script %>"></script>
    <% }) %>
  <% } %>

  <% if (typeof modules !== 'undefined' && modules.length >= 0) { %>
    <% modules.forEach(script => { %>
      <script defer src="<%= script %>" type="module"></script>
    <% }) %>
  <% } %>


</head>