<div class="max-w-xs min-w-[20rem] hover:shadow-2xl">
  <div class="bg-white shadow-md rounded-lg max-w-sm dark:bg-gray-700 dark:border-gray-600">
      <a href="/cursos/<%= product.id %>">
        <% if (product.image) { %>
            <img class="rounded-t-lg p-8" src="/images/courses/<%= product.image %>" alt="<%= product.name %>" />
        <% } else { %>
            <img class="rounded-t-lg p-8" src="/images/placeholder.png" alt="placeholder image" />
        <% } %>
         
      </a>
      <div class="px-5 pb-5">

        <div class="h-8 mb-8 flex items-center">
            <a href="/cursos/<%= product.id %>">
                <h3 class="text-gray-900 font-semibold text-xl tracking-tight dark:text-white"><%= product.name %></h3>
            </a>
        </div>

        <%- include('../components/stars', {stars: product.stars}) %>

        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">$<%= product.price %></span>

            <% if (locals.isAdmin) { %>
                <a href="/cursos/editar/<%= product.id %>" class="text-white <%= styles.colors.secondary %> focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Editar
                </a>
            <% } else { %>
                <a 
                    data-course-id="<%= product.id %>" 
                    data-course-price="<%= product.price %>"
                    href="javascript:void(0);"
                    class="add-to-cart <%= styles.colors.primary %> focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Agregar al carrito
                </a> 
            <% }  %>
        </div>
      </div>
  </div>
</div>